{% extends 'main.html' %}

{% block content %}

 <!-- Main Section -->

 <main id="main" class="main">
    
    <div class="pagetitle">
       <h1>Profile</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
             <li class="breadcrumb-item"><a href="{% url 'profile' %}">User</a></li>
             <li class="breadcrumb-item active">Edit Profile</li>
          </ol>
       </nav>
    </div>
    <section class="section profile">
        <div class="container">
            <form class="form" method="POST" action="{% url 'edit-account' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <!-- Input:Text -->
                    <div class="profile-edit pt-3">
                        <div class="col-md-5 ">
                            <label for="formInput#text">{{field.label}} </label>
                            {{field}}
                        </div>
                    </div>
                {% endfor %}
                <div class=""> <input type="submit" class="btn btn-primary " value="Submit" /></div>
            </form>
        </div>
    </div>
    </section>

</main>

{% endblock  %}


